@{
    ViewBag.Title = "Outfit Maker";
}

<div class="frontpage" style="text-align:center">
    <h1>Outfit App</h1>
    <div class="lead">
    <p>Let us help you create new outfits from our curated collections and boutiques.</p>
    </div>
</div>

