@model IEnumerable<OutfitsApp.Models.Top>

@{
    ViewBag.Title = "Our Accessories";
}

<h2>Our Accessories</h2>

<p>
    @Html.ActionLink("Upload your own", "Create")
</p>
<div class="row">
    <div class="col-xs-6 col-md-4 col-lg-4">

        @Html.DisplayNameFor(model => model.TopPhoto)
    </div>
</div>

@foreach (var item in Model)
{

    <a href="@Url.Action("Details", new { id = item.TopID })"> <img src="@Html.DisplayFor(modelItem => item.TopPhoto)" style="width:250px;height:250px;" /></a>

}